 @tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 6rem; /* adjust according to your navbar height */
}

/* Shine effect */
.shine-btn:hover {
  position: relative;
  overflow: hidden;
}
.shine-btn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -25%;
  width: 50px;
  height: 200%;
  background: rgba(255,255,255,0.4);
  transform: rotate(25deg) translateX(-100%);
  transition: transform 0.7s ease;
}
.shine-btn:hover::before {
  transform: rotate(25deg) translateX(300%);
}

/* Category shine */
.shine-block::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -25%;
  width: 50px;
  height: 200%;
  background: rgba(255,255,255,0.4);
  transform: rotate(25deg) translateX(-100%);
  transition: transform 0.7s ease;
}
.shine-block:hover::before {
  transform: rotate(25deg) translateX(300%);
}



.shine-effect {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 25%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.05) 75%
  );
  background-size: 400% 400%;
  animation: shine 1.5s infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.group:hover .shine-effect {
  opacity: 1;
}

@keyframes shine {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

